.loginPage {
    background-color: white;
    height: 100vh;
}

.loginContainer {
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(4px);
}

.activityCard {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
}

.activityBtn {
    border-radius: 20px;
    width: 120px;
}

.loginActions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dividerText {
    font-weight: normal;
    font-size: 14px;
}

.socialIconWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40px;
    width: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

.iconStyle {
    color: rgba(0, 0, 0, 0.2);
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
}

.loginBottom {
    margin-block-end: 24px;
}

.forgotPassword {
    float: right;
}

.loginOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}